apiVersion: v1
kind: Service
metadata: 
  name: myservice

spec:
  type: LoadBalancer
  ports:
    - targetPort: 80
      port: 80

  selector:
    app: webserver
    type: front-end

    